/* #root {
    display: flex;
  }
  
  button {
    min-width: 130px;
    border-radius: 8px;
    border: 1px solid #1a1a1a;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  
  input {
    border-radius: 8px;
    border: 1px solid #1a1a1a;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    transition: border-color 0.25s;
  }
  
  button:hover {
    background-color: #dddddd;
  }
  button:active {
    background-color: #cccccc;
  }
  
  #root .left-side {
    margin: 10px;
    padding: 10px;
  }
  
  #root .right-side .waiting {
    margin: 10px;
    padding: 10px;
    display: flex;
  }
  #root .right-side {
    display: flex;
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
  }
  
  #root button,
  #root input {
    margin: 10px;
    padding: 10px;
  }
  
  #root h3 {
    padding: 0 10px;
  }
  
  #root .button-on {
    background-color: rgb(7, 158, 255);
    color: white;
  }
  
  #root .right-side video {
    height: 300px !important;
    max-width: 400px;
    margin: 10px;
    border-radius: 4px;
    aspect-ratio: 16/9;
  }
  
  #camera-video {
  } */


/* 
  .video-call-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
}

.video-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 80%;
    background-color: #000;
}

.video-box {
    width: 40%;
    height: auto;
    margin: 0 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.video-placeholder {
    width: 40%;
    height: auto;
    margin: 0 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: gray;
    font-size: 18px;
}

.controls-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.join-call {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.join-call-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.join-call-button:hover {
    background-color: #0056b3;
} */
